{# On herite de base.html.twig: On recupere la meme structure HTML et on remplace certains blocs #}

{% extends "base.html.twig" %}

{# On ecrase le bloc titre #}
{% block title %}
    Share It!
{% endblock %}

{% block body %}
   <h1> Share It!</h1>
{% endblock %}