{# On herite de base.html.twig: On recupere la meme structure HTML et on remplace certains blocs #}

{% extends "base.html.twig" %}

{# On ecrase le bloc titre #}
{% block title %}
    Share It!
{% endblock %}

{% block body %}
   <h1> Share It!</h1>

    <form  action="{{ link('homepage')}}" method="post" enctype="multipart/form-data" class="form">
 <div class="form-group">
   <label for="file">Sélectionner le fichier à envoyer</label>
    </div>
   <div class="form-group">
  <input type="file" id="file" name="file" multiple>
  </div>
   <button class="btn btn-primary" type="submit">Envoyer</button>
 
</form>
{% endblock %}