{% extends "base.html.twig"%}

{% block title %}

Votre fichier a ete charge !

{% endblock %}

{% block body %}

    <h1>Votre fichier a ete charge !</h1>

    <p>
        {# On accede aux proprietes / methodes avec le point
            twig essaie automatiquement d'appeler le getter: getNomOriginal()#}
        Le fichier <b>{{ file.nomOriginal}}</b> a ete charge, vous pouvez copier le lien de telechargement ci-dessous:
    </p>
    {# On cree un lien vers la page de telechargement (route "download") L'adresse necessite un parametre "id", on passe un tableau associatif a la fonction link()
    Syntaxe des tableau associatif dans Twig {cle : valeur}#}
    <input type="text" class="form-control" value="http://localhost:8000{{ link('download', {id: file.id}) }}">


{% endblock %}